body {
  background-image: url("../images/comingSoonLock.jpg");
  background-color: orange;
  height: 1000px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}